.head{

  text-align: center;
  color : black  ;
  background-color:lightgrey;
  margin : inherit ;

}

.para{

  text-align: center ;
  font-size: 48px ;
  font-style: italic;
  font-family: cursive;
}

#button {

  font-size : 24px ;
  font-style: oblique;

  border-radius: 8px ;

  border : 2px solid black ;

}
#button:hover{
  background-color: white  ;
}
#button:active{
  background-color: lightgrey;
}
